header{
    width: 90%;
    border: solid #23b1d8 2px;
    background-color: #edf5f7;
    padding: 10px 35px;
    box-sizing: border-box; /*Serve pro padding não aumentar o tamanho da caixa*/
    margin: 15px auto; /*Centraliza o elemento e dá margen de 15px*/
    border-radius: 20px;
}

main{
    display: flex;
    flex-direction: row; /*Coloca o div#caixaPequena e div#caixaGrande um à direita do outro*/
    /* flex-direction: row = é o padrão do display: flex; */
    width: 90%;
    margin: 15px auto;
    border: solid 10px;
    box-sizing: border-box;
    border-radius: 15px;
} 

div#caixaPequena img{
    width: 90%;
    height: 50%;
    margin: 5px 0px;
    border: solid salmon 2px;
    border-radius: 25px;
}

div#caixaPequena img:hover{
    cursor: pointer;
    transform: scale(1.05);
}

div#caixaGrande img{
    width: 85%;
    height: 100%;
    border: solid rgb(28, 192, 50) 2px;
    border-radius: 30px;
}

div#caixaPequena{
    display: flex; /*Ativa as propriedades flex-box */
    flex-direction: column; /*Coloca as imagens do div#caixaPequena uma em baixo da outra */
    flex: 15%; /*Quando se utiliza display: flex; em vez de se utilizar width: se utiliza flex:
    Normalmente acontece quando se tem um container dentro outro que possui a propriedade display:flex*/
    /*exemplo: div#caixaPequena tá dentro de main no qual main é display:flex*/
    background-color: blue;
    padding: 15px;
}

div#caixaGrande{
    flex: 85%;
    background-color: green;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0 auto;
}